body {
  min-height: 99vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

body>div {
  width: 90%;
}

.main-container {
  margin: -80px auto 0 auto;
  max-width: 700px;
  min-width: 300px;
}

.main-container .ops {
  color: #EC3711;
}

.buttonPanel .enter {
  color: #fff;
}

.main-container h1 {
  text-shadow: 0 2px white;
  font-weight: bold;
  color: #b8bec5;
}

.main-container h1 span:nth-child(odd) {
  -webkit-animation: blink 2s infinite linear;
          animation: blink 2s infinite linear;
}

.display {
  background-color: gray;
  border: 2px solid #EC3711;
  border-bottom: 1px solid #101628;
  -webkit-border-top-left-radius: 10px;
          border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
          border-top-right-radius: 10px;
  color: #fff;
  text-align: right;
  font-size: 2.5em;
  width: 100%;
  padding-right: 8px;
  position: relative;
  overflow-x: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.display .input {
  font-size: 0.6em;
  margin-top: 8px;
  margin-bottom: 20px;
}

.hide {
  display: none;
}

.buttonPanel {
  border: 2px solid #101628;
  overflow: hidden;
  -webkit-border-bottom-left-radius: 10px;
          border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
          border-bottom-right-radius: 10px;
}

.blink {
  -webkit-animation: blink 1.2s infinite linear;
  animation: blink 1.2s infinite linear;
}

@-webkit-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.button, .display {
  height: 100px;
}

.button {
  color: #000;
  cursor: pointer;
  font-size: 2em;
  font-weight: 700;
}

.milky {
  border: 1px solid rgb(204, 172, 172);
}

.orange {
  border: 1px solid rgb(231, 154, 154);
}